
img.carHealthLogo {
  width: 50%;

}

img.find-my-vehicle-picture{
  width:50%;
}

img.home-icon{
  width:45px;
  height:45px;
}

img.arrow {
  widows: 30px;
  height:25px;
}

img.service-icon{
  width:15%;
  height:15%;
}

p.userMileage {
  font-family: 'Roboto', sans-serif;
  font-size:20px;
}

P {
 font-family: 'Roboto', sans-serif;
 font-weight:700;
}

li {
   font-family: 'Roboto', sans-serif;
   font-size:15px;
   font-weight:500;
   text-align: start;
}


h2{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size:35px;
}

span {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

span.logoCarText {
  font-size: 2rem;
}

span.logoHealthText,
.logoPlus {
  font-size: 2.7rem;
  color: #f00;
}

button.getStarted {
  border: 4px solid black;
  height: 60px;
  width: 150px;
  font-size: 18px;
  font-weight: bold;
  background-color: white;
  transition: all .5s ease-in-out;
  cursor:pointer;
}

span.mi{
  font-weight:bold;
  color:red;
}


.container, .container-nonIntro {
  max-width: 950px;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row-navi {
  cursor: pointer;
  display:flex;
  justify-content: center;
  margin-top:5%;
}

.get-started-button {
  margin-top: 4%;
}

.hidden {
  display:none;
}

.userInputCar{
  border:2px solid black;
}

.userInputCar {
  width:300px;
  height:50px;
}

.inputSearch {
  display:flex;
  flex-direction: column;
  align-items:flex-start;
}

.searchBtn{
  text-align:end;
}

.carSubmitBtn{
  margin-top:10%;
  width:30%;
  height:2.5rem;
  background-color:white;
  border:2px solid black;
  font-family: 'Roboto', sans-serif;
  font-size:15px;
  font-weight:500;
  color:#FFA500;
  cursor: pointer;
}

.userInputTitle{
  display:flex;
  flex-direction:column;

}

.service {
  display:flex;
  align-items: center;
}

.serviceListings {
 border:2px solid black;
 display:flex;
 flex-direction: column;
 /* justify-content: center; */
align-items:center;
}
