

img.carHealthLogo {
  width: 50%;
}

img.find-my-vehicle-picture{
  width:50%;
}

img.home-icon{
  width:45px;
  height:45px;
}

img.service-icon{
  width:15%;
}

img.service-icon-edit{
  cursor: pointer;
  width:8rem;
}

img.service-icon-home{
  padding-right:2%;
  width:13%;
  height:13%;
}

img.service-icon-Warning{
  width:11%;
  height:11%;
}

img.pictureCheck{
  width:15%;
  height:15%;
}

img.engine-oil{
  width:8%;
  height:8%;
}

img.data-log-pencil{
  width:15%;
  height:15%;
}

img.data-log-notebook{
  width:10%;
  height:10%;
  cursor: pointer;
}

p.userMileage {
  font-family: 'Roboto', sans-serif;
  font-size:20px;
}

P {
 font-family: 'Roboto', sans-serif;
 font-weight:700;
}

li {
   font-family: 'Roboto', sans-serif;
   font-size:15px;
   font-weight:500;
   text-align: start;
}

h1{
   font-family: 'Roboto', sans-serif;
}



h2{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size:35px;
}

h2.error{
  font-size:1.5rem;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size:35
}

span {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

table {
  font-family: 'Roboto', sans-serif;
  border-collapse: collapse;
  width:100%;
}

th {
  border: 1px solid black;
  font-weight:bold;
  font-size:20px;
  text-align: center;
}

td {
  border:1px solid black;
  font-weight:500;
  font-size:15px;
  text-align: center;
  cursor: pointer;
}

tbody tr:nth-child(odd){
  background-color:#e8eae6;
}

span.logoCarText {
  font-size: 2rem;
}

span.logoHealthText,
.logoPlus {
  font-size: 2.7rem;
  color: #f00;
}

button.getStarted {
  border: 4px solid black;
  height: 60px;
  width: 150px;
  font-size: 18px;
  font-weight: bold;
  background-color: white;
  transition: all .5s ease-in-out;
  cursor:pointer;
}

h3.modal {
  font-size: 2.5rem;
  font-family: 'Roboto', sans-serif;
}

span.mi, span.mis, span.comp, span.interval{
  font-weight:bold;
  color:red;
}
.complained{
  font-weight:bold;
  font-size:15px;

}

.border{
  border-bottom:1px solid black;
}

.logServiceStyle{
 display:flex;

}
.complaintListing li {
  font-weight:400;
  line-height:1.5;
}

.complaintListing{
  line-height:1.2;
}

.container, .container-nonIntro {
  max-width: 950px;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row-navi {
  cursor: pointer;
  display:flex;
  justify-content: center;
  margin-top:5%;
}

.get-started-button {
  margin-top: 4%;
}

.hidden {
  display:none;
}

.userInputCar{
  border:2px solid black;
  width:300px;
  height:50px;
}

.userFeedback {
   border:2px solid black;
    width:300px;
}

.inputSearch {
  display:flex;
  flex-direction: column;
  align-items:flex-start;
}

.searchBtn{
  text-align:end;
}

.carSubmitBtn, .modalBtn{
  margin-top:10%;
  width:30%;
  height:2.5rem;
  background-color:white;
  border:2px solid black;
  font-family: 'Roboto', sans-serif;
  font-size:15px;
  font-weight:500;
  color:#FFA500;
  cursor: pointer;
}

.modalBtn{
  margin-bottom: 5%;
}

.edit {
  color: blue;
}
.delete{
  color:red;
}

.userInputTitle{
  display:flex;
  flex-direction:column;

}
.modify-row {
  display:flex;
  align-items:center;
}

.service {
   display:flex;
  align-items: center;
}
.editBtn{
  text-align: end;
}

.serviceListings {
 border:2px solid black;
 display:flex;
 flex-direction: column;
align-items:center;
}

.statusBarOil, .statusBarTire, .statusBarPressure{
  border-radius:15px ;
  background-color:#FE0000;
  border:none;
  display:flex;
  flex-direction: column;
  align-items:center;
  color:white;
  font-size:15px;
}

.sizing {
  display:flex;
  flex-direction: column;
  align-items:center;
}

.checkStatusText{
   font-family: 'Roboto', sans-serif;
   font-size:20px;
}

.data-log-title{
  display:flex;
  align-items: center;
}

.data-log-title-input{
  display:flex;
  align-items: center;
  justify-content: center;
}

.column-half {
  width:100%;
}


.row-modal-data, .error-modal-row{
  height:100%;
  width:100%;
  background:rgba(0,0,0,0.5);
  position:fixed;
   top:0

}

.column-modal-data, .error-modal-column{
  text-align:center;
  border:4px solid black;
  position: fixed;
  top:50%;
  left:50%;
 transform: translate(-50%, -50%);
 background-color:white;
}

.column-buttons {
  display:flex;
  justify-content: space-around;

}

.ok {
  width:10rem;
  font-size:1.5rem;
}
