
img.carHealthLogo {
  width: 50%;
}

span {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

span.logoCarText {
  font-size: 2rem;
}

span.logoHealthText,
.logoPlus {
  font-size: 2.7rem;
  color: #f00;
}

button.getStarted {
  border: 4px solid black;
  height: 60px;
  width: 150px;
  font-size: 18px;
  font-weight: bold;
  background-color: white;
}

.container {
  max-width: 950px;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.get-started-button {
  margin-top: 4%;
}
